<!DOCTYPE html>
<html>

<head>
    <title>Genea.app - Build your family tree</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Genea is a free tool to author your family tree without an account. Genea gives you complete control over where to store your GEDCOM ancestry heritage data." />
    <meta name="keywords" content="genea,genealogy,software,free,open source,gedcom,family tree,family lineage,heritage,myheritage,web based,online,genealogist,historian,ancestors,archive,ancestry,legacy,birth,death,funeral,marriage,privacy by design" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Dependencies -->
    <script src="resources/vuejs/vue.js"></script>
    <script src="resources/wasm/index.min.js"></script>
    <script>
        var hpccWasm = window["@hpcc-js/wasm"];
    </script>
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js'; window.http = http; window.fs = new LightningFS('fs'); window.pfs = window.fs.promises;
    </script>
    <link href="resources/googlefonts/materialicons.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/materialize/css/materialize.min.css">
    <!-- Genea.app -->
    <link rel="stylesheet" href="css/style.css" />
    <script type="application/javascript" src="js/tags.js"></script>
    <script type="application/javascript" src="js/gedcom.js"></script>
    <script type="application/javascript" src="js/stamboom.js"></script>
    <script type="application/javascript" src="components/tree.js"></script>
    <script type="application/javascript" src="components/personaldetails.js"></script>
    <script type="application/javascript" src="components/relations.js"></script>
    <script type="application/javascript" src="components/debug.js"></script>
</head>

<body>
    <div id="genea">

        <!-- Start -->
        <div id="overlay" v-if="page=='start'" class="container" style="max-width: 600px;">
            <h1 class="header">Genea.app</h1>
            <div class="divider"></div>
            <div class="section" v-if="!isNative()">
                <h4 class="light">Build and edit your family tree; completely free!</h4>
                <p style="text-align: justify;">
                    Genea is a <a href="https://en.wikipedia.org/wiki/Privacy_by_design" target="_blank">privacy by design</a> and <a href="https://github.com/genea-app/genea-app" target="_blank">open source</a> tool anyone can use to author or edit their
                    family tree. Your data is formatted following the <a href="https://www.gedcom.org/" target="_blank">GEDCOM</a> specifications so it can be exchanged with other genealogy services. All processing is done in the browser, leaving you
                    in control on where to save your data, avoiding any type of vendor lock-in.
                </p>
                <p style="text-align: justify;">
                    You can use Genea both on your mobile devices as well as on your desktop. The changes you make are persistently stored on your device. To transfer the data between devices, be sure to save the GEDCOM file when you are done and exchange it for example
                    via e-mail or using a cloud service like Dropbox.
                </p>
            </div>
            <div class="section" v-if="isNative()">
                <h4 class="light">Build and edit your family tree</h4>
                <p style="text-align: justify;">
                    Create a new family tree from scratch, or start from a GEDCOM file previously exported from other services like MyHeritage, FamilySearch, or Ancestry.
                </p>
            </div>
            <div class="section" v-if="isLocalStorage()" v-cloak>
                <button class="btn-large waves-effect waves-light  red lighten-2" v-on:click="page='tree'; loadLocalStorage()">
                    <i class="material-icons left">sync</i>
                    Continue with current family tree
                </button>
            </div>
            <div class="section">
                <button class="btn-large waves-effect waves-light" v-on:click="loadExample('new')">
                    <i class="material-icons left">create</i>
                    Start new family tree
                </button>
                <label class="btn-large waves-effect waves-light">
					<i class="material-icons left">get_app</i>
					Upload GEDCOM
					<input type="file" style="display: none;" v-on:change="loadFile">
				</label>
                <label class="btn-large waves-effect waves-light" v-on:click="loadGit()">
					<i class="material-icons left">cloud_download</i>
					Load from Git
				</label>
            </div>
            <div class="section">
                <h4 class="light">Examples</h4>
                <p>
                    Explore Genea with these sample trees.
                </p>
            </div>
            <div class="section">
                <div class="collection left-align">
                    <a href="#" v-on:click="loadExample('royal92')" class="collection-item avatar">
                        <span class="title">Royal '92</span>
                        <img src="sample/royal92.png" alt="" class="circle">
                        <p>Features the Kings and Queens of Europe, including Great Britain. Published back in 1992 by Denis R. Reid it is perhaps a little out of date, but it is a classic.</p>
                    </a>
                    <a href="#" v-on:click="loadExample('pres2020')" class="collection-item avatar">
                        <span class="title">Presidents 2020</span>
                        <img src="sample/pres2020.png" alt="" class="circle">
                        <p>An excellent collection of the presidents of the US, with their ancestors and descendants updated to 2020 by Paul Stobbe.</p>
                    </a>
                    <a href="#" v-on:click="loadExample('harrypotter')" class="collection-item avatar">
                        <span class="title">Harry Potter</span>
                        <img src="sample/harrypotter.png" alt="" class="circle">
                        <p>Fictional family tree for the Harry Potter series, created by famousfamilytrees.blogspot.com.</p>
                    </a>
                </div>
            </div>
            <div class="section" v-if="isDebug()">
                <h4 class="light">Debug</h4>
            </div>
            <div class="section" v-if="isDebug()">
                <button class="btn-large waves-effect waves-light" v-on:click="loadExample('gedcom1')">Debug Example 1</button>
            </div>
            <div class="divider" v-if="!isNative()"></div>
            <div class="section" v-if="!isNative()">
                <p>
                    <a href="mailto:contact@genea.app" target="_blank">contact</a> - <a href="https://github.com/genea-app/genea-app" target="_blank">github</a> - <a href="https://github.com/genea-app/genea-app/blob/main/LICENSE" target="_blank">license</a>
                </p>
            </div>
        </div>

        <!-- App -->
        <header v-show="Object.keys(person).length > 0 && page!='start'" v-cloak>
            <a data-target="nav-mobile" class="top-nav sidenav-trigger btn-floating btn-large teal lighten-3 waves-effect waves-light hide-on-large-only" style="margin: 15px;">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background teal lighten-3"></div>
                        <img src="img/unknown.png" style="max-width: 100px; max-height: 100px;" />
                        <span class="white-text name">
                            {{person.name}}
                        </span>
                        <span class="white-text email">
                            {{person.birth}}
                            -
                            {{person.death}}
                        </span>
                    </div>
                </li>
                <li>
                    <div class="row" style="margin-top: 0; margin-bottom: 0;">
                        <div class="input-field col s11 offset-s1" style="margin-top: 0; margin-bottom: 0;">
                            <i class="material-icons" style="position: absolute; display: inline-block; right: 24px; top: 15px;">search</i>
                            <input id="search" placeholder="Find Person" class="autocomplete" style="font-weight: 300; color: #777; border: 0;" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">View</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='tree'}">
                    <a :href="'#/tree/' + person.id" class="waves-effect waves-teal"><i class="material-icons">account_tree</i>Family Tree</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='personaldetails'}">
                    <a :href="'#/personaldetails/' + person.id" class="waves-effect waves-teal"><i class="material-icons">person</i>Personal Details</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='relations'}">
                    <a :href="'#/relations/' + person.id" class="waves-effect waves-teal"><i class="material-icons">people</i>Relations and Children</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">Actions</a>
                </li>
                <li class="bold sidenav-close" v-if="!isNative()">
                    <a @click.prevent="saveFile();" href="#" class="waves-effect waves-teal"><i class="material-icons">save_alt</i>Save GEDCOM</a>
                </li>
                <li class="bold sidenav-close" v-if="isNative()">
                    <a @click.prevent="shareFile();" href="#" class="waves-effect waves-teal"><i class="material-icons">share</i>Share GEDCOM</a>
                </li>
                <li class="bold sidenav-close">
                    <a @click="person={};" href="#" class="waves-effect waves-teal"><i class="material-icons">swap_horiz</i>Load GEDCOM</a>
                </li>
                <li v-if="isDebug()">
                    <div class="divider"></div>
                </li>
                <li v-if="isDebug()">
                    <a class="subheader">Development</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='debug'}" v-if="isDebug()">
                    <a :href="'#/debug'" class="waves-effect waves-teal"><i class="material-icons">adb</i>Debug</a>
                </li>
            </ul>
        </header>

        <main v-show="page=='tree'">
            <tree :person="person" />
        </main>

        <main v-show="page=='personaldetails'" class="container">
            <personaldetails :person="person" />
        </main>

        <main v-show="page=='relations'" class="container">
            <relations :person="person" />
        </main>

        <main v-show="page=='debug'" class="container">
            <debug :debug="debug" />
        </main>

    </div>


    <script type="application/javascript">
        // Bind stamboom
        var stamboom = new Stamboom();

        // DOM bindings
        var genea = new Vue({
            el: "#genea",
            data: {
                page: "",
                debug: {
                    dot: "",
                    gedcom: ""
                },
                person: {}
            },
            mounted: function() {
                if (this.isLocalStorage()) {
                    this.page = "tree";
                    window.setTimeout(function() {
                        genea.loadLocalStorage();
                    }, 200);
                } else {
                    this.page = "start";
                }
            },
            watch: {
                person: {
                    handler: function(val, oldVal) {
                        window.clearTimeout(window.autoSaveTimeout);
                        window.autoSaveTimeout = window.setTimeout(function() {
                            genea.saveLocalStorage();
                        }, 1000);
                    },
                    deep: true
                }
            },
            methods: {
                loadExample: function(example) {
                    if (!stamboom.isLoaded || window.confirm("This will clear the family tree you previously had open.")) {
                        genea.page = "tree";
                        if (example == "new") {
                            fetch("sample/empty.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select();
                            });
                        }
                        if (example == "gedcom1") {
                            fetch("sample/gedcom1.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I3@");
                            });
                        }
                        if (example == "royal92") {
                            fetch("sample/royal92.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I52@");
                            });
                        }
                        if (example == "pres2020") {
                            fetch("sample/pres2020.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I2185@");
                            });
                        }
                        if (example == "harrypotter") {
                            fetch("sample/harrypotter.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@ind00001@");
                            });
                        }
                    }
                },
                loadFile: function(event) {
                    if (!stamboom.isLoaded || window.confirm("This will clear the family tree you previously had open.")) {
                        let file = event.srcElement.files[0];
                        let reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function() {
                            genea.page = "tree";
                            stamboom.load(reader.result);
                            stamboom.select();
                        };
                        reader.onerror = function() {
                            alert("Error reading selected file.");
                        };
                    }
                },
                saveFile: function() {
                    const a = document.createElement("a");
                    const file = new Blob([stamboom.save()], {
                        type: "text/plain"
                    });
                    a.href = URL.createObjectURL(file);
                    a.download = stamboom.getFilename();
                    a.click();
                    URL.revokeObjectURL(a.href);
                },
                shareFile: function() {
                    var file = new File([stamboom.save()], stamboom.getFilename(), {
                        type: "text/plain"
                    });
                    var share = {
                        title: "Family Tree",
                        text: "Authored using Genea.app; https://www.genea.app/",
                        files: [file]
                    }
                    try {
                        navigator.share(share);
                    } catch (e) {
                        console.log("Error sharing file:", e);
                        alert("Error sharing file");
                    }
                },
                loadGit: async function() {
                    // Load family tree from a git repository


                    // Clean state
                    window.fs = new LightningFS('fs', {
                        wipe: true
                    });
                    window.pfs = window.fs.promises;


                    // Create local file system
                    window.dir = '/gedcom'
                    await pfs.mkdir(dir);
                    await git.clone({
                        fs,
                        http,
                        dir,
                        corsProxy: 'https://cors.isomorphic-git.org',
                        url: 'https://github.com/genea-app/testrepo',
                        ref: 'main',
                        singleBranch: true,
                        depth: 10,
                        onAuth: () => ({
                            username: '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'
                        })
                    });
                    console.log(pfs.readdir(dir));

                    // Update README
                    await pfs.writeFile(`${dir}/README.md`, 'Very short README' + new Date(), 'utf8');
                    console.log(await git.status({
                        fs,
                        dir,
                        filepath: 'README.md'
                    }));

                    // Stage file
                    await git.add({
                        fs,
                        dir,
                        filepath: 'README.md'
                    });
                    console.log(await git.status({
                        fs,
                        dir,
                        filepath: 'README.md'
                    }));

                    // Commit file
                    let sha = await git.commit({
                        fs,
                        dir: '/gedcom',
                        author: {
                            name: 'Genea.app',
                            email: 'git@genea.app',
                        },
                        message: 'Updated readme at ' + new Date()
                    })
                    console.log('Committed:', sha);

                    // Push change
                    let pushResult = await git.push({
                        fs,
                        http,
                        dir: '/gedcom',
                        remote: 'origin',
                        ref: 'main',
                        onAuth: () => ({
                            username: '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'
                        }),
                    })
                    console.log('Pushed:', pushResult)


                },
                isLocalStorage: function() {
                    return window.localStorage.getItem("selectedPerson");
                },
                isNative: function() {
                    return window.localStorage.getItem("isNative") == "true";
                },
                loadLocalStorage: function() {
                    var data = window.localStorage.getItem("stamboom");
                    stamboom.load(data);
                    router();
                    if (!genea.person.id) {
                        var selectedPerson = window.localStorage.getItem("selectedPerson");
                        stamboom.select(selectedPerson);
                    }
                    window.addEventListener('storage', function(e) {
                        if (e.key == "stamboom") {
                            stamboom.load(e.newValue);
                            stamboom.select(genea.person.id);
                        }
                    });
                },
                saveLocalStorage: function() {
                    var data = stamboom.save();
                    window.localStorage.setItem("stamboom", data);
                    window.localStorage.setItem("selectedPerson", genea.selectedPerson);
                },
                debugUpdate: function() {
                    this.debug.dot = stamboom.debug();
                    this.debug.gedcom = stamboom.save();
                },
                isDebug: function() {
                    if (window.sessionStorage.getItem("isDebug") != "on") {
                        // This function will detect whether Dev Tools are on, and if so, enable debug mode for the session
                        var t1 = new Date();
                        debugger;
                        if (new Date() - t1 > 200) {
                            window.sessionStorage.setItem("isDebug", "on");
                        } else {
                            window.sessionStorage.setItem("isDebug", "off");
                        }
                    }
                    return (window.sessionStorage.getItem("isDebug") == "on" ? true : false);
                }
            }
        });

        function router() {
            var url = document.location.hash.split("/");
            switch (url[1]) {
                case "tree":
                case "personaldetails":
                case "relations":
                    genea.page = url[1];
                    stamboom.select(url[2]);
                    document.title = `Genea.app - ${genea.person.name}`;
                    break;
                case "native":
                    window.localStorage.setItem("isNative", "true");
                    // Forward to start
                    genea.page = "start";
                    break;
                case "debug":
                    genea.page = "debug";
                    genea.debugUpdate();
                    break;
                default:
                    // Unknown link, do nothing
                    genea.page = "start";
                    document.title = `Genea.app`;
                    break;
            }
        }
        window.addEventListener("hashchange", router);
        router();
    </script>

    <!-- Dependencies -->
    <script type="application/javascript" src="resources/materialize/js/materialize.min.js"></script>
    <script type="application/javascript">
        M.AutoInit();
        M.Sidenav.init(document.querySelector('.sidenav'));
        document.addEventListener("click", function(e) {
            if (e.target && e.target.id == "search") {
                // (Re)populate data in Search autocomplete any time the field is activated
                M.Autocomplete.init(document.querySelector('#search'), {
                    data: (function() {
                        var persons = stamboom.getPersons();
                        persons = Object.fromEntries(persons.map(person => [person.caption]));
                        return persons;
                    })(),
                    onAutocomplete: function(selection) {
                        var person = stamboom.getPersons().find(person => person.caption == selection);
                        if (person && person.id) {
                            genea.page = 'tree';
                            stamboom.select(person.id);
                        } else {
                            alert("Person not found.");
                        }
                        this.el.value = "";
                    }
                });
            }
        });
    </script>
</body>

</html>